<!-- templates/registration/login.html -->
{% extends 'authentication/base.html' %}
{% block content %} {% load static %}
{% if messages %}
	<ul class="messages">
		{% for message in messages %}
		<li {% if message.tags %} class = "{{message.tags }}"
			{% endif %}> {{ message }}
		</li>
		{% endfor %}
	</ul>
{% endif %}
<body id="layout">
  <!-- Main body goes here -->
<div class="container">
  	<div class="row my-4">
	  	<div class="col-md-4"></div>
	  	<div class="col-md-4 col-sm-12 col-lg-4 col-xs-4">
		  <h1 class="text-center"><strong>Sign In</strong></h1>
		  <br>
			<form action="{% url 'authentication:login' %}" method="POST" id="sign_form">
				{% csrf_token %}

			  <div class="form-group">
			    <label for="pwd">EMAIL</label>
			    <input type="text" name="email" class="form-control input" placeholder="Enter your email address...">
			  </div>
			  <div class="form-group">
			    <label for="pwd">PASSWORD</label>
			    <input type="password" name="password" class="form-control input"  value="">
			  </div>
			  <button type="submit" class="btn-block primary-btn">Sign in</button>
				<small>Don't have an account? <a href="{% url 'authentication:register' %}" class="text-center">Sign Up</a></small>
			</form><br><br>
			<form action="{% url 'authentication:forgot_password' %}" method="POST" id="PasswordResetForm">
  {% csrf_token %}
			  <button type="submit" class="btn-block primary-btn">Forgot Password</button>

			</form>
	    </div>
	</div>
</div>

</body>
{% endblock %}