{% extends 'authentication/header.html' %}{% block content %} {% load static %}
    <div>
    <!-- Main Section -->
    <div>
        <img id="banner" src="{% static 'profile/Rectangle 1.png' %}" alt="starry sky">
    </div>
    <img id="prof2" src="{% static 'profile/Ellipse 2.png' %}" alt="profile picture">
    <p>Jason Bourne</p>
    <button id="follow">Follow</button>

    <!-- Left Side -->
    <div class="about">
        <h3>A bit about Jason</h3>
        Never stopped being a student. 6 years as Frontend Developer, loking to get into Backend. Geek with me.
        <br> <a id="url" href="url">211 Followers</a>
    </div>


    <h3 class="following">Following &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp;<a id="url2" href="url">(127)</a></h3>

    <div class="followers">
        <img id="ff" src="{% static 'profile/Ellipse 3.png' %}" alt="profile picture">
        <img id="ff" src="{% static 'profile/Ellipse 4.png' %}" alt="profile picture">
        <img id="ff" src="{% static 'profile/Ellipse 5.png' %}" alt="profile picture">
        <img id="ff" src="{% static 'profile/Ellipse 6.png' %}" alt="profile picture">
        <img id="ff" src="{% static 'profile/Ellipse 7.png' %}" alt="profile picture">
        <img id="ff" src="{% static 'profile/Ellipse 8.png' %}" alt="profile picture">
        <img id="ff" src="{% static 'profile/Ellipse 9.png' %}" alt="profile picture">
        <img id="ff" src="{% static 'profile/Ellipse 10.png' %}" alt="profile picture">
        <img id="ff" src="{% static 'profile/Ellipse 11.png' %}" alt="profile picture">
    </div>

    <!-- Middle/Right Section -->
    <p id="message">Send Jason a message</p>

    <input id="input" type="text">
    <button id="send">Send</button>
    <br>
    <div>
        <h4 class="recent">Recent Activity</h4>
        <p id="post">Jason liked a &nbsp; <a href="url">post</a>&nbsp; in New to Git.</p>
        <br>
        <p id="answer">Jason answered a &nbsp;<a href="url">question</a>&nbsp; in HTML is Not CSS</p>
        <br>
        <p id="help">Jason posted in Backend Help Desk.</p>
        <p id="comment">Hi, I'm having trouble with python. I'm trying to build a database for</p>

    </div>
{% endblock %}