{% extends 'authentication/base.html' %}{% block content %} {% load static %}
    <link rel="stylesheet" href="{% static 'css/register.css' %}">

<body id="layout">
<!-- Main body goes here -------->

            <!--FORM------------>
        <section class="form-cont">
            <h1 class="desktop-h1">REGISTER TO JOIN US!</h1>
            <form action="{% url 'authentication:register' %}" method="POST" id="sign_form">
                {% csrf_token %}
                <div class="form-group">
                    <label for="pwd">FIRST NAME</label>
                       <div class="input-cont">
                           <div class="img-cont">
                               <img src= "{% static 'icons/Vector-user.svg' %}" alt="user icon">
                           </div>
                           <input type="text" name="firstname" class="form-control input" placeholder="">
                       </div>
                </div>
                <div class="form-group">
                 <label for="pwd">LAST NAME</label>
                       <div class="input-cont">
                           <div class="img-cont">
                               <img src="{% static 'icons/Vector-user.svg' %}" alt="user icon">
                           </div>
                            <input type="text" name="lastname" class="form-control input" placeholder="">
                       </div>
                </div>
                <div class="form-group">
                    <label for="pwd">USERNAME</label>
                          <div class="input-cont">
                              <div class="img-cont">
                                  <img src="{% static 'icons/Vector-user.svg' %}" alt="user icon">
                              </div>
                               <input type="text" name="username" class="form-control input" placeholder="">
                          </div>
                   </div>
                <div class="form-group">
                 <label for="pwd">E-MAIL ADDRESS</label>
                    <div class="input-cont">
                        <div class="img-cont">
                            <img src="{% static 'icons/Vector.svg' %}" alt="email icon">
                        </div>
                        <input type="email" name="email" class="form-control input" placeholder="">
                    </div>
                 </div>
                <div class="form-group">
            <label for="pwd">BIO</label>
                    <div class="input-cont">
                        <div class="img-cont">
                            <img src="{% static 'icons/Vector.svg' %}" alt="bio icon">
                        </div>
            <input type="text" name="bio" class="form-control" placeholder="" />
                    </div>
          </div>

          <div class="form-group">
            <label for="pwd">PHONE</label>
                    <div class="input-cont">
                        <div class="img-cont">
                            <img src="{% static 'icons/Vector.svg' %}" alt="phone icon">
                        </div>
            <input type="text" name="phone" class="form-control" placeholder="" />
                    </div>
          </div>

      <div class="form-group">
            <label for="pwd">AVATAR</label>
                    <div class="input-cont">
                        <div class="img-cont">
                            <img src="{% static 'icons/Vector.svg' %}" alt="phone icon">
                        </div>
            <input type="file" name="avatar" class="form-control" placeholder="" accept="image/*" />
                    </div>
          </div>

      <div class="form-group">
            <label for="pwd">OCCUPATION</label>
                    <div class="input-cont">
                        <div class="img-cont">
                            <img src="{% static 'icons/Vector.svg' %}" alt="phone icon">
                        </div>
            <input type="text" name="occupation" class="form-control" placeholder="" />
                    </div>
          </div>

      <div class="form-group">
            <label for="pwd">COMPANY</label>
                    <div class="input-cont">
                        <div class="img-cont">
                            <img src="{% static 'icons/Vector.svg' %}" alt="phone icon">
                        </div>
            <input type="text" name="company" class="form-control" placeholder="" />
                    </div>
          </div>

                <div class="form-group">
                    <label for="pwd">PASSWORD</label>
                    <div class="input-cont">
                        <div class="img-cont">
                            <img src="{% static 'icons/Vector2.svg' %}" alt="lock icon">
                        </div>
                        <input type="password" name="pwd" class="form-control input"  value="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="pwd">CONFIRM PASSWORD</label>
                    <div class="input-cont">
                        <div class="img-cont">
                            <img src="{% static 'icons/Vector2.svg' %}" alt="lock icon">
                        </div>
                        <input type="password" name="confirmpwd" class="form-control input"  value="">
                    </div>
                </div>
                    <div class="btn-cont">
                        <button type="submit" class="log">REGISTER</button>
                    </div>
                    <small>ALREADY HAVE AN ACCOUNT?<a href="{% url 'authentication:register' %}" class="text-center">LOG IN</a></small>
            </form>
        </section>
</body>
{% endblock %}