/* Features Section */
:root {
    --epilogue: 'Epilogue', sans-serif;

    /* font-sizes */
    --fs-12: 12px;
    --fs-14: 14px;
    --fs-15: 15px;
    --fs-18: 18px;
    --fs-24: 24px;
    --fs-36: 36px;

    /* font-weight */
    --fw-lt: 300;
    --fw-norm: 400;
    --fw-med: 500; 
    --fw-sbold: 600;
    --fw-bold: 700;
    --fw-super-bold: 900;

    /* colors */
    --blue: #384989;
    --lt-blue: #639CC8;
    --yellow: #F8C164;
    --orange: #EE9062;
    --pk-violet: #914C75;
}
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}
html,
body {
    width: 100%;
    height: 100vh;
    font-family: var(--epilogue);  
}
/* main feature section */
.features {
    position: fixed;
    width: 100%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: var(--blue);
}
/* left side */
.features-left{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    
}
.features-left-holder{
    width: auto;
    margin-top: 5rem;
    margin-right: 0; 
    height: auto;
    background-image: url(images/lp-feature-triangles.svg);
    background-repeat: no-repeat;
    background-position: -30px 145px; 
    
}
.features-left-content{
    margin-left: 1em;
}
.features-left-info {
    display: flex;
    margin-bottom: 3rem;
    margin-left: 2rem;
    font-size: 30px;
    font-weight: var(--fw-sbold);    
}
/* superscript */
sup {
    vertical-align: super;
    height: 14px;
    font-size: 15px;
}
.features-header {
    width: 229px;
    height: 37px;
    margin-bottom: 3rem;
    margin-left: 2rem;
    line-height: 49.2px;
    font-size: 48px;
    font-weight: var(--fw-sbold);
}
/* features list */
.features-list {
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
}
.features-list-content {
    height: 66px;
    display: flex;
    flex-direction: row;
    margin-bottom: 1.5rem;
}
.check {
    margin: auto 0;
}
.check-mark {
    width: 33.33px;
    height: 33.33px;
}
.details {
    margin: auto 0;
    margin-left: 2rem;
    font-size: var(--fs-24);
    font-weight: var(--fw-sbold);
}
.features-btn-holder {
    width: 100%;
    display: flex;
    justify-content: center;
    
}
.features-button {
    width: 285px;
    height: 56px;
    margin: 0 auto;
    min-width: 255px;
    min-height: 38px;
    font-size: 1.25em;
    font-weight: var(--fw-sbold);
    color: var(--blue);
    background-color: var(--orange);
    border: 2px solid var(--orange);
    box-shadow: 0px 4px 4px rgba(99, 156, 200, 0.85);
    border-radius: 8px;
}
.features-button:hover {
    opacity: 80%;
    color: var(--lt-blue);
    font-weight: var(--fw-bold);
}

/* right side */
.features-right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.features-right-holder {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 5rem 0;
    margin-right: 2.84rem;
}
/* Amico image */
.amico {
    width: 100%;
    height: auto;
    margin-top: 205.6;
    min-width: 344.33px;
    min-height: 260.2px;
}

/* media max width 1400px */
@media screen and (max-width: 1400px) {
    .features-left-holder{
        background-position: auto;
        background-size: 90%; 
    }
    .features-left-content{
        margin-left: 2rem;
    }
    .features-left-info{
        font-size: 1.8em;
        font-weight: var(--fw-sbold);    
    }
    sup {
        height: 12px;
        font-size: 12px;
    }
    .features-header {
        margin-bottom: 1em;
        font-size: 2.7em;
    }
    .features-list {
        margin-left: 2rem;
        display: flex;
        flex-direction: column;
    }
    .features-list-content {
        height: 56px;
        margin-bottom: 1em;
    }
    .details {
        font-size: 1.21em;
    }
    .features-btn-holder {
        width: 100%;
        text-align: center;
    }
    .features-button {
        width: 40%;
        min-width: 243px;
        height: 53px;
        min-height: 38px;
        margin: 0 auto;
        font-size: 1.15em;
    }
    .amico {
        min-width: 344.33px;
        min-height: 260.2px;
    }   
}
/* media max-width 1250px */
@media  screen and (max-width: 1250px) {
    .features-left-holder{
        background-position: -30px 55px ;
        background-size: 100%;
    }
    .features-left-info {
        width: 90%;
        font-size: 1.5em;
        margin-bottom: 1.6em;  
    }
    sup {
        height: 11px;
        font-size: 11px;
    }
    .features-header {
        margin-bottom: .9em;
        font-size: 2.3em;
    }
    .features-list {
        margin-left: 2em;
        display: flex;
        flex-direction: column;
    }
    .features-list-context{
        height: 56px;
    }
    .features-button {
        width: 40%;
        height: 50px;
        margin: 0 auto;
        font-size: 1.15em;   
    }  
}
/* media max width 1150px */
@media  screen and (max-width: 1150px) {
    .features-left-holder{
        background-position: -30px 85px ;
        background-size: 100%;
    }
    .features-left-info {
        width: 90%;
        font-size: 1.3em;
        margin-bottom: 1.6em;  
    }
    .features-button {
        height: 47px
    }
}
/* media max-width 1050px */
@media screen and (max-width: 1050px) {
    .features {
        /* height:100vh; */
        width: 100%;
        min-width: 360px;
        top: 54%;
        margin: 0 auto;
        flex-direction: column-reverse;
        justify-content: stretch;
        align-content: center;
    }
    .features-right,
    .features-left {
        width: auto;
        min-width: 360px;
        height: auto;
        min-height: 300px;
        margin: 0 auto;
        
    }
    .features-right {
        height: auto;
    }
    .features-right-holder{
        width: 100%;
        margin: 0 auto;
    }
    .amico {
        width: 60%;
        margin: 0 auto;
        text-align: center;
    }
    .features-left {
        height: auto;
        width: 50%;
    }
    .features-left-content {
        width: 100%;
        margin: 0 auto;
    }
    .features-left-holder{
        width: 100%;
        margin: 0 auto;
        background-position: -30px 100px;
        background-size: 100%;
    }
    .features-header {
        width: auto;
        margin: 0;
        font-size: 1.6em;
    
    }
    .features-left-info{
        margin: 0;
        margin: .9em 0;
    }
    .features-list {
        width: 100%;
        min-width: 355px;
        margin: 0 auto;
    }
    .check-mark {
        width: 25px;
        height: 25px;
    }
    .details {
        width: auto;
        margin-left: 1em;
    }
    .features-button {
        height: 42px
    }

}
/* max width 850px */
@media screen and (max-width: 850px){
    .features-left-content{
        background-position: -50px auto;
    }
    .features-left-info{
        font-size: 1.1em;
    }
    sup {
        height: 10px;
        font-size: 10px;
    }
}
/* media max-width 650px */
@media screen and (max-width: 650px){
    .features-left-holder {
        margin-top: 1.5rem;
        width: 100%;
        margin: 0 auto;
        background-position: top left;
        background-size: 100%;
    }
    .features-left-info,
    .features-header {
        display: none;
    }
    .features-list {
        width: 95%;
        margin: 1em auto;
    }
    .features-list-content{
        height: 46px;
    }
    .details {
        font-size: 1.125rem;
    }
    .features-button {
        height: 38px;
    }
}
