{% extends 'posts/layout.html' %}{% block content %} {% load static %}
    <link rel="stylesheet" href="{% static 'css/register.css' %}">

<body id="layout">
<!-- Main body goes here -------->

            <!--FORM------------>
        <section class="form-cont">
            <h1 class="desktop-h1">Messages</h1>
            <form action="{% url 'chat:create-message' %}" method="POST" id="sign_form" enctype="multipart/form-data">
                {% csrf_token %}
<!--                <div class="form-group">-->
<!--                    <label for="pwd">RECEIVER</label>-->
<!--                          <div class="input-cont">-->
<!--                              <div class="img-cont">-->
<!--                                  <img src="{% static 'icons/Vector-user.svg' %}" alt="user icon">-->
<!--                              </div>-->
<!--                               <input type="text" name="receiver" class="form-control input" value="{{ receiver }}">-->
<!--                          </div>-->
<!--                   </div>-->

                <input type="hidden" value="{{ receiver }}" name="receiver" id="receiver"/>

                <div class="form-group">
                 <label for="pwd">MESSAGE</label>
                    <div class="input-cont">
                        <div class="img-cont">
                            <img src="{% static 'icons/Vector.svg' %}" alt="email icon">
                        </div>
                        <input type="text-area" name="message" class="form-control input" >
                    </div>
                 </div>
                  <div class="form-group">
            <label for="pwd">IMAGE</label>
                    <div class="input-cont">
                        <div class="img-cont">
                            <img src="{% static 'icons/Vector.svg' %}" alt="phone icon">
                        </div>
            <input type="file" name="image" class="form-control" placeholder="image" accept="image/*" />
                    </div>
          </div>

                             <button type="submit" class="log">SEND</button>
                    </div>
                    <small>GO BACK<a href="{% url 'posts:home' %}" class="text-center">HOME</a></small>
            </form>
        </section>
</body>
{% endblock %}
{% block jsfiles %}
<script type="text/javascript">
var receiver=localStorage.getItem("receiver");

</script>
{% endblock jsfiles %}