{% extends 'authentication/header.html' %} {% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-12 p-5">
      <h3>Your Messages</h3>
    </div>
    <div class="row">
      <div class="col-md-12 p-5">
        <form method="GET" action="{% url 'chat:create-message' %}">
          <br>
          <button class="btn btn-light p-3" type="submit">Start New Message</button>
        </form>
      </div>
    </div>
    {% for chat in chats.all %}
    <br>
    <div class="row mb-3">
      <div class="card col-md-12 p-5 shadow-sm">
        <h4>Sender: {{ chat.receiver.username }} </h4>
        <br>

        {% if chat.read_at %}
        <h5>read </h5>
        {% else %}
        <h5>unread</h5>
        {% endif %}
        <a class="stretched-link" href="{% url 'chat:view-message' chat.id %}"> View</a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}