* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.mb-search-button input {
    font-family: var(--epilogue);
   
}
.mb-search-button input:hover {
    background: #639CC8;
    cursor: pointer;
}


.mb-search-bar {
    display: flex;
    height: 35px;
}


.mb-search-bar input,
.mb-search-button, 
.mb-search-button:before, 
.mb-search-button:after {
    transition: all 0.25s ease-out;
}
.mb-search-bar input,
.mb-search-button {
    width: 3em;
    height: 3em;
}



.mb-search-bar input:invalid:not(:focus),
.mb-search-button {
    cursor: pointer;
    
}

.mb-search-bar,
.mb-search-bar input:focus,
.mb-search-bar input:valid  {
    width: 50%;
}

.mb-search-bar input:focus,
.mb-search-bar input:not(:focus) + .mb-search-button:focus {
    outline: transparent;
}
.mb-search-bar {
    margin: auto 0;
    padding:  0;
    justify-content: center;
    max-width: 15em;
}
.mb-search-bar input {
    background: transparent;
    border-radius: 50%;
    padding: 0.75em;
    transform: translate(0.5em,0.5em) scale(0.5);
    transform-origin: 100% 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.mb-search-bar input::-webkit-search-decoration {
    -webkit-appearance: none;
}

.mb-search-bar input:focus,
.mb-search-bar input:valid {
    background: transparent;
    /* border: 1px solid var(--blue); */
    border-radius: 5px;
    transform: scale(1);
}
.mb-search-button {
    border-radius: 0 0.75em 0.75em 0 / 0 1.5em 1.5em 0;
    padding: 0.75em;
    position: relative;
    transform: translate(0.25em,0.25em) rotate(45deg) scale(0.25,0.125);
    transform-origin: 0 50%;
}
.mb-search-button:before, 
.mb-search-button:after {
    content: "";
    display: block;
    opacity: 0;
    position: absolute;
}
.mb-search-button:before {
    border-radius: 50%;
    box-shadow: 0 0 0 0.2em var(--blue) inset;
    top: 0.75em;
    left: 0.75em;
    width: 1.2em;
    height: 1.2em;
}

.mb-search-button:after {
    background: var(--blue);
    border-radius: 0 0.25em 0.25em 0;
    top: 51%;
    left: 50%;
    width: 0.75em;
    height: 0.25em;
    transform: translate(0.2em,0) rotate(45deg);
    transform-origin: 0 50%;
}
.mb-search-button span {
    display: inline-block;
    overflow: hidden;
    width: 1px;
    height: 1px;
}
/* Mobile Active state */
.mb-search-bar input:focus + .mb-search-button,
.mb-search-bar input:valid + .mb-search-button {
    background: transparent;
    border-radius: 0 0.375em 0.375em 0;
    transform: scale(1);
}
.mb-search-bar input:focus + .mb-search-button:before, 
.mb-search-bar input:focus + .mb-search-button:after,
.mb-search-bar input:valid + .mb-search-button:before, 
.mb-search-bar input:valid + .mb-search-button:after {
    opacity: 1;
}
.mb-search-bar input:focus + .mb-search-button:hover,
.mb-search-bar input:valid + .mb-search-button:hover,
.mb-search-bar input:valid:not(:focus) + .mb-search-button:focus {
    background: transparent;
}
.mb-search-bar input:focus + .mb-search-button:active,
.mb-search-bar input:valid + .mb-search-button:active {
    transform: translateY(1px);
}
.mb-search-button {
    background: var(--blue);
}
.mb-search-bar input {
    box-shadow: 0 0 0 0.4em var(--blue) inset;
}
.mb-search-bar input:focus,
.mb-search-bar input:valid {
    background: transparent;
    box-shadow: 0 0 0 0.1em var(--lt-blue) inset;
    
}


