* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    font-size: calc(16px + (24 - 16)*(100vw - 320px)/(1920 - 320));
}
.search-btn input {
    font-family: var(--epilogue);
    /* line-height: 1.5em; */
}
.search-btn:hover {
    color: #639CC8;
    cursor: pointer;
}
.search-bar {
    display: flex;
}

.search-bar input,
.search-btn, 
.search-btn:before, 
.search-btn:after {
    transition: all 0.25s ease-out;
}
.search-bar input,
.search-btn {
    width: 3em;
    height: 3em;
}
.search-bar input {
    outline: none;
}


.search-bar input:invalid:not(:focus),
.search-btn {
    cursor: pointer;
}
.search-bar,
.search-bar input:focus,
.search-bar input:valid  {
    width: 50%;
}
.search-bar input:focus,
.search-bar input:not(:focus) + .search-btn:focus {
    outline: transparent;
}


.search-bar {
    margin: auto;
    padding: 15px 0;
    justify-content: center;
    max-width: 15em;
}

.search-bar input {
    background: transparent;
    border-radius: 50%;
    padding: 0.75em;
    transform: translate(0.5em,0.5em) scale(0.5);
    transform-origin: 100% 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.search-bar input::-webkit-search-decoration {
    -webkit-appearance: none;
}
.search-bar input:focus,
.search-bar input:valid {
    background: transparent;
    border-radius: 5px;
    transform: scale(1);
}

.search-btn {
    border-radius: 0 0.75em 0.75em 0 / 0 1.5em 1.5em 0;
    padding: 0.75em;
    position: relative;
    transform: translate(0.25em,0.25em) rotate(45deg) scale(0.25,0.125);
    transform-origin: 0 50%;
}

.search-btn:before, 
.search-btn:after {
    content: "";
    display: block;
    opacity: 0;
    position: absolute;
}

.search-btn:before {
    border-radius: 50%;
    box-shadow: 0 0 0 0.2em var(--blue) inset;
    top: 0.75em;
    left: 0.75em;
    width: 1.2em;
    height: 1.2em;
}
.search-btn:after {
    background: var(--blue);
    border-radius: 0 0.25em 0.25em 0;
    top: 51%;
    left: 50%;
    width: 0.75em;
    height: 0.25em;
    transform: translate(0.2em,0) rotate(45deg);
    transform-origin: 0 50%;
}

/* Active state */
.search-bar input:focus + .search-btn,
.search-bar input:valid + .search-btn {
    background: transparent;
    border-radius: 0 0.375em 0.375em 0;
    transform: scale(1);
}
.search-bar input:focus + .search-btn:before, 
.search-bar input:focus + .search-btn:after,
.search-bar input:valid + .search-btn:before, 
.search-bar input:valid + .search-btn:after {
    opacity: 1;
}
.search-bar input:focus + .search-btn:hover,
.search-bar input:valid + .search-btn:hover,
.search-bar input:valid:not(:focus) + .search-btn:focus {
    background: transparent;
}
.search-bar input:focus + .search-btn:active,
.search-bar input:valid + .search-btn:active {
    transform: translateY(1px);
}
.search-btn {
    background: var(--blue);
}
.search-bar input {
    box-shadow: 0 0 0 0.4em var(--blue) inset;
}
.search-bar input:focus,
.search-bar input:valid {
    background: transparent;
    box-shadow: 0 0 0 0.1em var(--lt-blue) inset;
}

/* @media screen and (prefers-color-scheme: dark) {
    input {
        color: var(--blue);
    }

    .search-bar input {
        box-shadow: 0 0 0 0.4em var(--blue) inset;
    }
    .search-bar input:focus,
    .search-bar input:valid {
        background: transparent;
        box-shadow: 0 0 0 0.1em #3d3d3d inset;
    }
    
} */