.container{
    display: flex;
    flex-direction: column;
    padding-top: 100px;
}

body{
    background-color:lightgray;
    background-image: url(bg.jpg);
}

#s1{
    display: flex;
    flex-direction: row;
    padding-top: 150px;
    background-image:url(spicon3.jpg);
}

#s2{
    padding-top: 10px;
    background-color: white;
    display: flex;
    flex-direction: row;
}

#s3{
    background-color: white;
    padding-top: 1px;
}

#s4{
    background-color: white;
}

#heading{
    padding-left: 10px;
}

#profilepic{
    padding-left: 550px;
}

#b{
    position:absolute;
    top: 250px;
    right: 100px;
    background-color:blue;
    color:white;
    width: 300px;
    height: 80px;
}

#name{
    padding-left: 10px;
}

#time{
    padding-left: 20px;
    color:gray;
}

@media screen and (max-width: 600px){
    .container{
        display: flex;
        flex-direction: column;
        width: auto;
        padding-top: 10px;
    }
    #s1{
        display: flex;
        flex-direction: column;
        width: auto;
        padding-top: 10px;
        text-align: center;
    }
    #s2{
        padding-top: 150px;
    }
    #b{
        left: 35px;
    }
    #profilepic{
        padding-left: 130px;
    }
    #heading{
        left: 100px;
    }
}