:root {
    --epilogue: 'Epilogue', sans-serif;

    /* font-sizes */
    --fs-12: 12px;
    --fs-14: 14px;
    --fs-15: 15px;
    --fs-18: 18px;
    --fs-24: 24px;
    --fs-36: 36px;

    /* font-weight */
    --fw-lt: 300;
    --fw-norm: 400;
    --fw-med: 500; 
    --fw-sbold: 600;
    --fw-bold: 700;
    --fw-super-bold: 900;

    /* colors */
    --blue: #384989;
    --lt-blue: #639CC8;
    --yellow: #F8C164;
    --orange: #EE9062;
    --pk-violet: #914C75;
    --auth-bg: #E5E5E5;
    --user-feed-bg: rgba(229, 229, 229, 50%);
    --fg-input-bg: rgba(196, 196, 195, 60%);
    --fg-input-mid: rgba(196, 196, 195, 80%);
    --gf-input-color: rgba(56, 73, 137, 54%);
}
*,
*::before,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

[class ^= "box-"] {
    font-family: var(--epilogue);
    display: grid;
    padding: 10px;
    border-radius: 10px;

}
body {
   
    height: 100%;
    font-family: var(--epilogue); 
    overflow: hidden;
}

/* MAIN CONTAINER */
.general-feed-container {
    height: 100vh;
    width: 90%;
    margin: auto;
    display: grid;
    gap: 15px;
    grid-template-rows: repeat(auto, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, auto);  
    grid-template-columns: repeat(12, 1fr);
    overflow: hidden;
}


/* desktop header */
.general-feed-container .box-1 {
    display: none;
}
/* MOBILE  */
/* mobile header */
.general-feed-container .box-9 {
    grid-column: 1 / 13;
    grid-row: 1 / 2;
    
}
/* MAKE A POST */

.general-feed-container .box-2 {
       
    grid-row: 2 / 3;
    grid-column: 1 / 13;
    background: var(--auth-bg);
    display: flex;
    flex-direction: column;

}
.general-post {
    display: flex;
    flex-direction: column;
}
.post-label {
    color: var(--yellow);
    text-align: center;
    font-weight: var(--fw-bold);
}
.post-input {
    width: 100%;
    height: 50%;
    padding-left: 10px;
    background: var(--auth-bg);
    color: var(-blue);
    
}
.post-input::placeholder {
    color: var(--gf-input-color);
    font-weight: var(--fw-sbold);
}

.post-choices {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
}
.choice-holder {
    width: 110px;
    height: 25px;
    display: flex;
    justify-content: space-between;
}
.choice-holder button {
    height: 21px;
    background: transparent;
    color: var(--blue);
    font-weight: var(--fw-bold);
}
.general-feed-container .box-3 {
    display: none;
}


/* General Feed */
.general-feed-container .box-4 {
    grid-column: 1/ 13;
    grid-row: 3 / 12;
    padding: 0;
    grid-template-rows: repeat(1, auto);
    grid-template-columns: repeat(12, auto);
    overflow-y: scroll;
    gap: 8px;
}
.general-feed {
    grid-column: 1 / 13;
    grid-template-rows: .5fr, 1.5fr;
    
    /* gap: 5px; */
    border-radius: 10px;
    /* border: 2px solid red; */
    /* padding-top: 5px; */
    color: var(--blue);
}
.gf-1 {
    display: grid;
    grid-row: 1 / 2;  
}
.gf-2 {
    display: grid;
    grid: 2 / 3;
    
}
.gf-3 {
    display: grid;
    grid: 3 /4;
    
}
.gf-4 {
    display: grid;
    grid: 4 /5;
    
}
.gf-5 {
    display: grid;
    grid: 5 / 6;
    
}


/* feed image */
.mobile-feed-img-desktop {
    display: none;
}
.mobile-feed-img {
    grid-row: 1 /2;
    grid-column: 1/3;
    width: 50px;
    height: 50px;
}
/* feed name @ info */
.general-feed-name,
.general-feed-info {
    margin: auto 0;
    color: var(--blue);
    font-size: 14px;
    font-weight: var(--fw-sbold);
}
.general-feed-name-desktop {
    display: none;
}
.general-feed-name {
    grid-column: 3/ 11;
    text-align: left;
    margin-left: 10px;
}
.general-feed-name .mobile {
    display: none
}

/* contact @ */
.general-feed-info {
    font-weight: var(--fw-norm);
}
/* feed post */
.post-box {
    display: grid;
    grid-row: 2/ 3;
    grid-template-rows: repeat(1, 1fr);
    grid-column: 1 / 13;
    grid-template-columns: 1fr;
    background: var(--auth-bg);
    border-radius: 10px;
    gap: 5px;

}
.post-content-box {
    display: grid;
    grid-row: 1 / 2;
    grid-template-rows: 1fr;
    grid-column: 1 / 13;
    padding: 10px;
    gap: 5px;
}

.post {
    grid-column: 1 /13;
    font-weight: var(--fw-med);
    font-size: 12px;
    margin-bottom: 5px;
    height: auto;
}
.post a {
    color: var(--orange);
}
.opinion-box {
    display: grid;
    grid-row: 2 / 3;
    grid-template-rows: repeat(1, .5fr);
    grid-column: 1/13;
    grid-template-columns: repeat(3, 1fr);
    
    
}
.expressions {
    text-align: center;
    
   
}
.expressions button {
    display: inline-flex;
    margin: auto 0;
    color: #914C75;
    background: none;
    border: none;
}
.color-change {
    color: #914C75;
}
.expressions img {
    width: 15px;
    height: 15px;
}
.text {
    vertical-align: super;
    font-size: 11px;
    font-weight: var(--fw-med);
    
}
.like-button .text {
    font-size: 12px;
}

/* Following */
.general-feed-container .box-7 {
    grid-row: 7/ 8;
    grid-column: 1 / 13;
    background: var(--blue);
    color: white;
    font-size: 13px;
    font-weight: var(--fw-sbold);
    padding: 13px;
}
.p-following {
    margin-bottom: 10px;
}
.fol-img img {
    padding: 0 5px;
    width: 72px;
    height: 62px;
}
.last-img,
.desktop-img,
.tablet-img {
    display: none;
}


/* Mobile Footer */
.general-feed-container .box-8 {
    display: grid;
    grid-row: 12/13;
    grid-column: 1 / 13;
   
    

}

/* MESSAGE AT MIN-WIDTH 500PX */
@media (min-width: 500px) {
    

    /* general-feed img*/
    
    .mb-user-img {
        display: grid;
        margin: 25px auto;
    }
    /* title */
    .uf-name {
        font-size: 25px;
    }
    .uf-contact {
        font-size: 18px;
        
    }
    /* follow */
    .follow,
    .following {
        margin-top: 18px;
        vertical-align: middle;
    }
    .dk-follow {
        margin-top: 0;
    }
    /* people */
    .people-hd,
    .p-following,
    .recent-title {
        font-size: 16px;
    }
    .content {
        font-size: 15px;
        margin-bottom: 16px;
    }
    .block {
        font-size: 15px;
    }
    /* message */
    
    .mb-msg {
        display: none;
    }
    .dk-msg {
        display: block;
        width: 95%;
        margin: 0 auto;
        /* padding: 5px; */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .msg-header {
        /* margin-bottom: 5px; */
        font-size: 16px;
        font-weight: var(--fw-sbold);
        color: var(--blue);
    }
    .msg-holder {
        margin: auto 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .msg-container {
        width: 80%;
    }
    .msg-input {
        width: 90%;
        height: 30px;
        padding-left: 10px;
        border: 1px solid var(--lt-blue);
        align-self: bottom;
        border-radius: 5px;
        color: var(--pk-violet);
        background: var(--auth-bg);
    }

    .btn-send {
        width: 105px;
        height: 30px;
        color: var(--blue);
        font-weight: var(--fw-sbold);
        background: var(--orange);
        border-radius: 10px;
    }
    /* followers */

    /*user feed content */
    
    .general-feed {
        display: grid; 
        grid-row: 1/2;
        grid-template-rows: 1, 1fr;
        grid-column: 1/13;
    }
    
    .gf-1 {
        display: grid;
        grid-row: 1 / 2;  
    }
    .gf-2 {
        display: grid;
        grid-row: 2 / 3;
        
    }
    .gf-3 {
        display: grid;
        grid-row: 3 /4;
        
    }
    .gf-4 {
        display: grid;
        grid-row: 4 /5;
    }
    .gf-5 {
        display: grid;
        grid-row: 5/6;
    }
    .gf-6 {
        display: grid;
        grid-row: 6/7;
    }
    .post-box {
        display: flex;
        flex-direction: row;
        background: none;
    }
    .post-content-box {
        width: 100%;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 0;
        padding-right: 0;
    }
    .post-text {
        display: grid;
        grid-row: 1/2;
        grid-column: 1/13;
        background: var(--auth-bg);
        padding: 10px;
        
        border-radius: 10px;
       

    }
    /* .content-1 {
        grid-row:2/3;
    }
    .gf-2 {
        grid-row:2/3;
    }
    .gf-2 {
        grid-row:2/3;
    }
    .gf-3 {
       
        grid-row: 3/4;
    } */
    
    
    .mobile-feed-img,
    .general-feed-info {
        display: none;
    }
    .mobile-feed-img-desktop {
        display: flex;
        width: 66px;
        height: 69px;
        margin: 0;
        /* grid-row: 1 / 3;
        grid-column: 1 /3; */
    }
    .general-feed-name{
        display: none;
    }
    .general-feed-name-desktop {
        margin-bottom: 10px;
        display: flex;
        grid-row: 1 / 2;
        grid-column: 3 /13;
        font-size: 16px;
        font-weight: var(--fw-sbold);
    }
    .general-feed-info-desktop {
        margin-left: 15px;
        font-weight: var(--fw-med);
    }
    
    .post {
        font-size: 14px;
        margin-bottom: 30px;
    }
    .text {
        font-size: 13px;
    }
}

/* TABLET VIEW */
@media (min-width: 767px) {
    /* Make a Post */
    .general-feed-container .box-2 {
        grid-row: 2 / 3;
        grid-column: 1/13;
        grid-template-rows: 1fr;
        grid-template-columns: 12, 1fr;

    }
    
    /* mobile header */
    .general-feed-container .box-9 {
        display: none;
    }
    /* header */
    .general-feed-container .box-1 {
        display: grid;
        grid-row: 1 / 2;
        grid-column: 1 / 13;
        padding: 0 10px;
    }
    .tablet-header {
        display: block;
        width: 100%;
        display: flex;
        justify-content: space-between;
        font-size: 20px;
    }
    .dk-hd-links {
        display: none
    }
    /* profile bg */
    /* .general-feed-container .box-2 {
        grid-row: 2/ 5;
        grid-column: 2 / 12;  
    } */
    .general-feed-container .box-11 {
        grid-column: 2 / 3;
        grid-row: 3/ 6;
        padding-top: 3px;
        padding-right: 0;
        padding-bottom: 0;
    }
    
    .dk-user-img {
        display: block;
        width: 130px;
        height: 140px;
        margin: 30px auto;
        margin-left: 15px;
        margin-bottom: 0;
        
    }
    .mb-user-img {
        display: none;
    }

    /*PEOPLE*/
    /* .general-feed-container .box-3 {
        grid-row: 2/ 13;
        grid-column: 1/ 2; */
        /* display: flex;
        flex-direction: row; */
    /* } */
    .uf-name {
        font-size: 22px;
    }
    .uf-contact {
        text-align: right;
        line-height: 0;
    }
    
    
    /* people */
    /* .general-feed-container .box-3 {
        grid-row: 6/ 7;
        grid-column: 2/ 4;
    }
    .people-hd {
        font-size: 16px;
    }
    
    .people-stats {
        display: flex;
        flex-direction: column;
        font-size: 14px;
        padding-top: 0;
    }
    .stat-num,
    .stat-followers {
        margin: 0 auto;
    } */

    /* main */
    .general-feed-container .box-4 {
        grid-column: 1/ 13;
        grid-row: 2/ 13;
        grid-template-rows: auto;
        gap: 10px;
        margin-top: 80px;
    }
    
    .gf-3 {
        display: grid;
        grid-row: 3/4;
        grid-column: 1 /13;
        grid-template-columns: repeat(12, 1fr)
    }
    .gf-3 .general-feed-name {
        grid-row: 1 / 2;
        grid-column: 3 / 13;
        
    }
    .general-feed-box {
        padding: 0;
    }
    
    /* .general-feed-name {
        font-size: 16px;
    } */
    .post {
        font-size: 15px;
    }
    .text {
        font-size: 13px;
    }
    /* following */
    /* .general-feed-container .box-7{
        grid-row: 7/ 13;
        grid-column: 2/ 4;
        
    }
    .following-text {
        height: 20px;
        font-size: 16px;
    }
    .follow-ct {
        float: right;
    }
    .fol-img {
        display: grid;
        grid-template-rows: repeat(auto-fit, minmax(76px, 1fr));
        grid-template-columns: repeat(auto-fit, minmax(66px, 1fr));
    }
    .fol-img img{
        width: 76px;
        height: 76px;
        text-align: center;
        padding: 7px;
    }
    .desktop-img {
        display: none;
    } */
    /* .mobile-feed-img {
        margin-top: 20px;
        width: 75px;
        height: 81px;
    } */
    /* footer */
    .general-feed-container .box-8 {
        display: none;
    }
}

@media (min-width: 937px) {
    /* following */
    .desktop-img {
        display: block;
    }
    /* .p-following-text {
        height: 20px;
        
    } */
    .general-feed-name,
    .general-feed-info {
        font-size: 18px;
    }
    .post {
        font-size: 16px;
    }
    .expressions img {
        width: 19.5px;
        height: 20px;
    }
    .expressions .text {
        font-size: 16px;
    }
}
@media (min-width: 1000px) {
    /* People */
    .general-feed-container .box-3 {
        display: grid;
        grid-column: 1 / 4;
        grid-row: 3/ 13;
        grid-template-rows: 1fr;
        background: var(--blue);
        color: white;
        font-size: 13px;
        padding: 13px;
        
    }
    .people-box {
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        
    }
    .people-hd,
    .topics-title {
        width: 100%;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 30px;
        font-size: 18px;
        font-weight: var(--fw-sbold);
    }
    .people-hd {
        height: 60px; 
    }
     
    
    .people-images img{
        margin: 20px auto;
        text-align: center;
        padding: 0 auto;
    }
    .people-images {
        width: auto;
        display: grid;
        grid-row: 1/13;
        grid-column: 1/13;
        margin-bottom: 30px;
    }
    .img-one {
        grid-row: 1/7;
        grid-column: 1/7;
    }
    .img-two {
        grid-row: 1/ 7;
        grid-column: 7/13;

    }
    .img-three {
        grid-row: 7/13;
        grid-column: 1/7;
    }
    .img-four{
        grid-row: 7/13;
        grid-column: 7/13;
    }
    /* .topics-title {
        width: 200px;
    } */
    .interests {
        width: 100%;
        display: flex;
        flex-direction: column;
        font-size: 18px;
        color: var(--orange);
    }
    .topics-left {
        width: 100%;
        height: 100px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .topic-left-holder {
        width: 130px;
        justify-content: end;
    }
    .topics-right {
        width: 100%;
        height: 100px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        text-align: center;
    }
    .topic-right-holder {
        float: right;
        width: 120px;
    }
    .people-content {
        margin: 13px 0;
    }
    .people-stats {
        text-align: right;
        font-weight: var(--fw-sbold);
    }
    .general-feed-container .box-4 {
        grid-column:4/13;
    }
    .general-feed-container .box-2 {
        grid-column: 1/13;
    }
    
}
/* DESKTOP */
@media (min-width: 1080px) {
    /* header */
    .tablet-header {
        display: none;
    }
    .dk-hd-links {
        display: block;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .people-hd,
    .topics-title,
    .topics-left span,
    .topics-right span {
        font-size: 18px;
    }
    /* people */
    /* .people-hd,
    .p-following {
        font-size: 18px;
    } */
    .people-stats {
        padding-top: 0;
    }
    /* general-feed */
    /* .recent-title,
    .content {
        font-size: 24px;  
    }
    .block {
        width: 90%;
        font-size: 20px;
    } */
    /* following */
    .desktop-img {
        display: grid;
    }

    /* user feed */
    .expressions {
        text-align: right;
    }
    
}

@media (min-width: 1185px){
    /* title */
    .people-hd,
    .topics-title,
    .topics-left span,
    .topics-right span {
        font-size: 24px;
    }
    
}
@media (min-width: 1370px){
    /* title */
    .uf-name {
        font-size: 48px;
    }
    
}
