:root {
    --epilogue: 'Epilogue', sans-serif;

    /* font-sizes */
    --fs-12: 12px;
    --fs-14: 14px;
    --fs-15: 15px;
    --fs-18: 18px;
    --fs-24: 24px;
    --fs-36: 36px;

    /* font-weight */
    --fw-lt: 300;
    --fw-norm: 400;
    --fw-med: 500; 
    --fw-sbold: 600;
    --fw-bold: 700;
    --fw-super-bold: 900;

    /* colors */
    --blue: #384989;
    --lt-blue: #639CC8;
    --yellow: #F8C164;
    --orange: #EE9062;
    --pk-violet: #914C75;
    --auth-bg: #E5E5E5;
    --fg-input-bg: rgba(196, 196, 195, 60%);
    --fg-input-mid: rgba(196, 196, 195, 80%);
}
*,
*::before,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

[class ^= "box-"] {
    font-family: var(--epilogue);
    display: grid;
    padding: 10px;
    border-radius: 10px;

}
body {
   
    height: 100vh;
    font-family: var(--epilogue); 
}

/* MAIN CONTAINER */
.profile-container {
    height: 95vh;
    width: 90%;
    margin: 5px auto;

    display: grid;
    gap: 10px;
    grid-template-rows: repeat(12, 1fr);  
    grid-template-columns: repeat(12, 1fr);
}


/* desktop header */
.profile-container .box-1 {
    display: none;
}
/* MOBILE  */
/* mobile header */
.profile-container .box-9 {
    grid-column: 1 / 13;
    grid-row: 1 / 2;
    
}
/* PROFILE BG */
.profile-container .box-2 {
    grid-column: 1 / 13;
    grid-row: 2/ 4;
    background-image: url(/SMA-Team-3/user-feed-page/images/tracey-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;
    
}
/* JASON IMG */
.profile-container .box-11 {
    grid-column: 1 / 2;
    grid-row: 3/ 5;
    padding-top: 3px;
    padding-right: 0;
    padding-bottom: 0;

}
/* .mb-tracey {
    width: 84px;
    height: 84px;
} */


/* JASON TITLE*/
.profile-container .box-3 {
    grid-row: 4 / 5;
    grid-column: 2/ 13;
    padding-top: 0;
    padding-left: 0;

    
}
.jason-holder {
    padding-top: 25px;
    height: 125px;
}
.dk-tracey {
    display: none;
}
.mb-tracey {
    margin: 25px auto;
}
.uf-title {
    margin-left: 0;
    /* width: 100%; */
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(auto, 1fr));
    /* repeat(auto-fit, minmax(66px, 1fr)) */
    grid-template-columns: repeat(auto, 1fr);
    font-size: 21.5px;
    font-weight: var(--fw-sbold);
}
.uf-contact {
    font-size: 16px;
    text-align: left;
}

/* FOLLOW BUTTON */
.profile-container .box-12 {
    grid-row: 5/6;
    grid-column: 1 / 2;
}
.dk-f-btn-holder {
    display: none;
}
.f-btn-holder {
    text-align: center;
}

.btn-msg {
    float: right;
}
.following {
    display: none;
}
.follow,
.following,
.btn-msg {
    width: 105px;
    height: 30px;
    border: none;
    border-radius: 10px;
    color: var(--blue);
    font-size: 13px;
    background: var(--orange);
    font-weight: var(--fw-sbold);
}
.follow:hover,
.following:hover,
.btn-msg:hover,
.btn-send:hover {
    opacity: 80%;
    font-weight: var(--fw-bold);
    cursor: pointer;
}

/* Mobile Message*/
.profile-container .box-4 {
    grid-row: 5 /6;
    grid-column: 2/ 13;
}
.mb-msg {
    text-align: center;
}
.dk-msg {
    display: none;
}
.mb-msg-holder {
    width: 100%;
    display: none;
}
.mb-msg-container {
    width: 100%;
    height: 70px;
    outline: none;
    border:  none;
}
.mb-msg-input {
    padding-left: 2px;
    width: 100%;
    height: 55px;
    outline: none;
    color: var(--pk-violet);
    font-weight: var(--fw-med);
    border: 1px solid var(--pk-violet);
    border-radius: 5px;
    background: var(--auth-bg);
}

.msg-submit {
    float: right;
    width: 25px;
    font-size: 12px;
    color: white;
    border: none;
    border-radius: 3px;
    background: var(--orange);
}
.cancel {
    float: left;
    background: #FF0000;
}


/* Bio */
.profile-container .box-5 {
    grid-column: 1 / 13;
    grid-row: 6/ 7;
    background: var(--blue);
    color: white;
    font-size: 13px;
    padding: 13px;
    
}
.bio-hd {
    margin-left: 0;
    font-weight: var(--fw-sbold);
}
.bio-content {
    margin: 13px 0;
}
.bio-stats {
    text-align: right;
    font-weight: var(--fw-sbold);
}
.stat-num {
    padding: 10 auto;
    width: 32px;
    float: bottom;
    color: white;
    font-weight: var(--fw-sbold);
    background: none;
}
.stat-num,
.stat-followers {
    text-decoration: underline;
}

/* Main*/
.profile-container .box-6 {
    grid-column: 1/ 13;
    grid-row: 8 / 12;
    padding: 0;
    display: grid;
    gap: 10px;
}
.activity-box {
    background: var(--auth-bg);
    border-radius: 10px;
    padding-top: 5px;
    color: var(--blue);
}

.recent-title {
    margin-bottom: 5px;
    padding: 0 15px;
    color: var(--blue);
    font-size: 13px;
    font-weight: var(--fw-sbold);
}
.content {
    padding: 0 25px;
    font-size: 13px;
}
.content a:hover {
    color: var(--lt-blue);
    cursor: pointer;
}
.topic {
    font-weight: var(--fw-med);
}
.topic:hover {
    color: var(--lt-blue);
    cursor: pointer;
}
.question {
    width: 80%;
    margin: 5px auto;
    background: var(--blue);
    color: white;
    opacity: 75%;
    
}
blockquote {
    margin: 0 auto;
    font-size: 12px;
    padding: 5px ;
    
}


/* Following */
.profile-container .box-7 {
    grid-row: 7/ 8;
    grid-column: 1 / 13;
    background: var(--blue);
    color: white;
    font-size: 13px;
    font-weight: var(--fw-sbold);
    padding: 13px;
}
.p-following {
    margin-bottom: 10px;
}
.fol-img img {
    padding: 0 5px;
}
.tablet-img {
    display: none;
}
.desktop-img {
    display: none;
}

/* Mobile Footer */
.profile-container .box-8 {
    grid-row: 12 /13;
    grid-column: 1 / 13;

}

/* MESSAGE AT MIN-WIDTH 500PX */
@media (min-width: 500px) {
    /* Tracey photo */
    
    .mb-tracey {
        display: block;
        margin: 30 auto;
    }
    /* title */
    .uf-name {
        font-size: 25px;
    }
    .uf-contact {
        font-size: 18px;
        
    }
    /* follow */
    .follow,
    .following {
        margin-top: 18px;
        vertical-align: middle;
    }
    /* bio */
    .bio-hd,
    .p-following,
    .recent-title {
        font-size: 16px;
    }
    .content {
        font-size: 15px;
        margin-bottom: 16px;
    }
    .block {
        font-size: 15px;
    }
    /* message */
    .profile-container .box-4 {
        
        padding: 0 10px;
    
    }
    .mb-msg {
        display: none;
    }
    .dk-msg {
        display: block;
        width: 95%;
        margin: 0 auto;
        
        /* padding: 5px; */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .msg-header {
        /* margin-bottom: 5px; */
        font-size: 16px;
        font-weight: var(--fw-sbold);
        color: var(--blue);
    }
    .msg-holder {
        margin: auto 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .msg-container {
        width: 80%;
    }
    .msg-input {
        width: 90%;
        height: 30px;
        padding-left: 10px;
        border: 1px solid var(--lt-blue);
        align-self: bottom;
        border-radius: 5px;
        color: var(--pk-violet);
        background: var(--auth-bg);
    }

    .btn-send {
        width: 105px;
        height: 30px;
        color: var(--blue);
        font-weight: var(--fw-sbold);
        background: var(--orange);
        border-radius: 10px;
    }
}

/* TABLET VIEW */
@media (min-width: 768px) {
    .profile-container {
        grid-template-rows: repeat(12, 1fr);
        gap:  20px;
    }
    /* mobile header */
    .profile-container .box-9 {
        display: none;
    }
    /* header */
    .profile-container .box-1 {
        display: block;
        grid-row: 1 / 2;
        grid-column: 1 / 13;
        padding: 0 10px;
    }
    .tablet-header {
        display: block;
        width: 100%;
        display: flex;
        justify-content: space-between;
        font-size: 20px;
    }
    .dk-hd-links {
        display: none
    }
    /* profile bg */
    .profile-container .box-2 {
        grid-row: 2/ 5;
        grid-column: 2 / 12;  
    }
    .profile-container .box-11 {
        grid-column: 2 / 3;
        grid-row: 4/ 6;
        padding-top: 3px;
        padding-right: 0;
        padding-bottom: 0;
    }
    .jason-holder {
        padding-top: 5px;
    }
    .dk-tracey {
        display: block;
    }
    .mb-tracey {
        display: none;
    }

    /* Jason  Title*/
    .profile-container .box-3 {
        grid-row: 5/ 6;
        grid-column: 3/ 12;
        display: flex;
        flex-direction: row;
    }
    /* .uf-name {
        font-size: 26px;
        
        
    } */
    .uf-contact {
        text-align: right;
        line-height: 0;
    }
    /* follow */
    .profile-container .box-12 {
        grid-row: 5 / 6;
        grid-column: 9 / 12;
        display: none;
    }
    .dk-f-btn-holder {
        display: block;
        width: 180px;
        text-align: center;
    }
    .follow,
    .following,
    .btn-msg,
    .btn-send {
        vertical-align: middle;
        /* width: 130px; */
        height: 34px;
        font-size: 15px;
        border-radius: 10px;
        background: var(--orange);
    }
    .tablet-img {
        display: block;
    }
    
    /* message */
     .profile-container .box-4 {
        grid-column: 4 / 12;
        grid-row: 6 / 7;
        padding: 0 10px;
    }
    .mb-msg {
        display: none;
    }
    .dk-msg {
        display: block;
        width: 95%;
        margin: 0 auto;
        
        /* padding: 5px; */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .msg-header {
        /* margin-bottom: 5px; */
        font-size: 14px;
        font-weight: var(--fw-sbold);
        color: var(--blue);
    }
    .msg-holder {
        margin: auto 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .msg-container {
        width: 95%;
    }
    .msg-input {
        width: 90%;
        height: 34px;
        outline: 1px solid var(--lt-blue);
        align-self: bottom;
    }

    .btn-send {
        max-width: 105px;
        height: 34px;
       
        color: var(--blue);
        font-weight: var(--fw-sbold);
    }
    /* bio */
    .profile-container .box-5 {
        grid-row: 6/ 8;
        grid-column: 2/ 4;
        /* max-width: 230px; */
    }
    .bio-hd,
    .bio-content {
        font-size: 16px;
    }
    .bio-stats {
        height: 30px;
        display: flex;
        flex-direction: column;
        font-size: 14px;
        padding-top: 10px;
    }
    .stat-num,
    .stat-followers {
        margin: 0 auto;
    }

    /* main */
    .profile-container .box-6 {
        grid-column: 4/ 12;
        grid-row: 7 / 13;
        gap: 20px;
    }
    .activity-box {
        padding: 0;
    }
    .recent {
        padding: 20px;  
        margin-bottom: 0;
    }
    .three {
        padding-bottom: 0;
    }
    .recent-title,
    .content {
        font-size: 18px;
        padding: 0;
    }
    .content {
        padding: 10px;
    }
    .block {
        width: 90%;
        font-size: 16px;
    }

    /* following */
    .profile-container .box-7{
        grid-row: 8/ 13;
        grid-column: 2/ 4;
        /* max-width: 230px; */
    }
    .following-text {
        height: 20px;
        font-size: 16px;
    }
    .follow-ct {
        float: right;
    }
    .fol-img {
        display: grid;
        grid-template-rows: repeat(auto-fit, minmax(66px, 1fr));
        grid-template-columns: repeat(auto-fit, minmax(66px, 1fr));
    }
    .fol-img img{
        
        text-align: center;
        padding: 7px;
    }
    /* footer */
    .profile-container .box-8 {
        display: none;
    }
}

/* DESKTOP */
@media (min-width: 1080px) {
    /* header */
    .tablet-header {
        display: none;
    }
    .dk-hd-links {
        display: block;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    /* Jason name */
    .uf-name {
        font-size: 36px;
    }
    /* follow */
    .dk-f-btn-holder {
        width: 180px;
    }
    .follow,
    .following
    .btn-msg {
        width: 130px;
        height: 39px;
    }
    /* message */
    .msg-header {
        /* margin-bottom: 5px; */
        font-size: 18px;
        
    }
    .msg-input,
    .btn-send {
        height: 39px;
    }
    .btn-send {
        max-width: 110px;
    }
    
    /* bio */
    .bio-hd,
    .bio-content,
    .p-following {
        font-size: 18px;

    }
    .bio-stats {
        padding-top: 0;
    }
    /* activity */
    .recent-title,
    .content {
        font-size: 24px;  
    }
    .block {
        width: 90%;
        font-size: 20px;
    }
    
}

@media (min-width: 1370px){
    /* title */
    .uf-name {
        font-size: 48px;
    }
    /* following */
    .desktop-img {
        display: block;
    }
}
