:root {
    --epilogue: 'Epilogue', sans-serif;

    /* font-sizes */
    --fs-12: 12px;
    --fs-14: 14px;
    --fs-15: 15px;
    --fs-18: 18px;
    --fs-24: 24px;
    --fs-36: 36px;

    /* font-weight */
    --fw-lt: 300;
    --fw-norm: 400;
    --fw-med: 500; 
    --fw-sbold: 600;
    --fw-bold: 700;
    --fw-super-bold: 900;

    /* colors */
    --blue: #384989;
    --lt-blue: #639CC8;
    --yellow: #F8C164;
    --orange: #EE9062;
    --pk-violet: #914C75;
    --auth-bg: #E5E5E5;
    --user-feed-bg: rgba(229, 229, 229, 50%);
    --fg-input-bg: rgba(196, 196, 195, 60%);
    --fg-input-mid: rgba(196, 196, 195, 80%);
}
*,
*::before,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

[class ^= "box-"] {
    font-family: var(--epilogue);
    display: grid;
    padding: 10px;
    border-radius: 10px;

}
body {
   
    height: 100vh;
    font-family: var(--epilogue); 
}

/* MAIN CONTAINER */
.user-feed-container {
    height: 100vh;
    width: 90%;
    margin: 5px auto;

    display: grid;
    gap: 8px;
    grid-row: 1 / 13;
    grid-column: 1 /13;
    grid-template-rows: repeat(12, 1fr);  
    grid-template-columns: repeat(12, 1fr);
}


/* desktop header */
.user-feed-container .box-1 {
    display: none;
}
/* MOBILE  */
/* mobile header */
.user-feed-container .box-9 {
    grid-column: 1 / 13;
    grid-row: 1 / 2;
    
}
/* PROFILE BG */
.user-feed-container .box-2 {
    grid-column: 1 / 13;
    grid-row: 2/ 4;
    background-image: url(/SMA-Team-3/user-feed-page/images/tracey-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;
    
}
/*  user img*/
.user-feed-container .box-11 {
    grid-column: 1 /2;
    grid-template-columns: repeat(2, auto);
    grid-row: 3/ 5;
    padding: 0;
}
.mb-user-img {
    margin: auto;
    display: grid;
    grid-row: 1 /3;
    grid-column: 1/3;
}



/* TITLE*/
.user-feed-container .box-3 {
    grid-row: 4 / 5;
    grid-column: 2/ 13;
    padding-top: 0;
    padding-left: 0;

    
}

.dk-user-img {
    display: none;
}

.uf-title {
    margin-left: 0;
    display: grid;
    grid-column: 2/13;
    grid-template-rows: repeat(auto-fit, minmax(auto, 1fr));
    grid-template-columns: repeat(auto, 1fr);
    font-size: 21.5px;
    font-weight: var(--fw-sbold);
}
.uf-contact {
    font-size: 16px;
    text-align: left;
}

/* FOLLOW BUTTON */
.user-feed-container .box-12 {
    grid-row: 5/6;
    grid-column: 1 / 2;
}
.dk-f-btn-holder {
    display: none;
}
.f-btn-holder {
    text-align: center;
}

.btn-msg {
    float: right;
}
.following {
    display: none;
}
.follow,
.following,
.btn-msg {
    width: 105px;
    height: 30px;
    border: none;
    border-radius: 10px;
    color: var(--blue);
    font-size: 13px;
    background: var(--orange);
    font-weight: var(--fw-sbold);
}
.follow:hover,
.btn-msg:hover,
.btn-send:hover {
    opacity: 80%;
    font-weight: var(--fw-bold);
    cursor: pointer;
}

/* Mobile Message*/
.user-feed-container .box-4 {
    grid-row: 5 /6;
    grid-column: 2/ 13;
}
.mb-msg {
    text-align: center;
}
.dk-msg {
    display: none;
}
.mb-msg-holder {
    width: 100%;
    display: none;
}
.mb-msg-container {
    width: 100%;
    height: 70px;
    outline: none;
    border:  none;
}
.mb-msg-input {
    padding-left: 2px;
    width: 100%;
    height: 55px;
    outline: none;
    color: var(--pk-violet);
    font-weight: var(--fw-med);
    border: 1px solid var(--pk-violet);
    border-radius: 5px;
    background: var(--auth-bg);
}

.msg-submit {
    float: right;
    width: 25px;
    font-size: 12px;
    color: white;
    border: none;
    border-radius: 3px;
    background: var(--orange);
}
.cancel {
    float: left;
    background: #FF0000;
}


/* Bio */
.user-feed-container .box-5 {
    grid-column: 1 / 13;
    grid-row: 6/ 7;
    background: var(--blue);
    color: white;
    font-size: 13px;
    padding: 13px;
    
}
.bio-hd {
    margin-left: 0;
    font-weight: var(--fw-sbold);
}
.bio-content {
    margin: 13px 0;
}
.bio-stats {
    text-align: right;
    font-weight: var(--fw-sbold);
}
.stat-num {
    padding: 10px auto;
    width: 32px;
    float: bottom;
    color: white;
    font-weight: var(--fw-sbold);
    background: none;
}
.stat-num,
.stat-followers {
    text-decoration: underline;
}

/* Feed*/
.user-feed-container .box-6 {
    /* display: grid; */
    grid-column: 1/ 13;
    grid-row: 8 /12;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(12, 1fr);
    gap: 8px;
    padding: 0;
}
.user-feed {
    grid-column: 1 / 13;
    grid-template-rows: .5fr, 1.5fr;
    gap: 5px;
    border-radius: 10px;
    /* border: 2px solid red; */
    /* padding-top: 5px; */
    color: var(--blue);
}
.content-1 {
    display: grid;
    grid-row: 1/2;  
}
.content-2 {
    display: grid;
    grid: 2 / 3;
    
}
.content-3 {
    display: none;
    grid: inherit;
    
}

/* feed image */
.mobile-feed-img-desktop {
    display: none;
}
.mobile-feed-img {
    grid-row: 1 /2;
    grid-column: 1/3;
    width: 50px;
    height: 50px;
}
/* feed name @ info */
.user-feed-name-desktop {
    display: none;
}
.user-feed-name {
    grid-column: 3/ 11;
    text-align: left;
    margin-left: 5px;
}
.user-feed-name .mobile {
    display: none
}
.user-feed-name,
.user-feed-info {
    margin: auto 0;
    color: var(--blue);
    font-size: 14px;
    font-weight: var(--fw-sbold);
}
/* contact @ */
.user-feed-info {
    font-weight: var(--fw-norm);
}
/* feed post */
.post-box {
    display: grid;
    grid-row: 2/ 3;
    grid-template-rows: repeat(1, 1fr);
    grid-column: 1 / 13;
    grid-template-columns: 1fr;
    background: var(--auth-bg);
    border-radius: 10px;
    gap: 5px;

}
.post-content-box {
    display: grid;
    grid-row: 1 / 2;
    grid-template-rows: 1fr;
    grid-column: 1 / 13;
    padding: 10px;
    gap: 5px;
}
.post {
    grid-column: 1 /13;
    font-weight: var(--fw-med);
    font-size: 12px;
    margin-bottom: 5px;
    height: auto;
}
.post a {
    color: var(--orange);
}
.opinion-box {
    display: grid;
    grid-row: 2 / 3;
    grid-template-rows: repeat(1, .5fr);
    grid-column: 1/13;
    grid-template-columns: repeat(3, 1fr);
    
}
.expressions {
    text-align: center;
    
   
}
.expressions button {
    display: inline-flex;
    margin: auto 0;
    color: var(--pk-violet);
    background: none;
    border: none;
}
.expressions img {
    width: 15px;
    height: 15px;
}
.text {
    vertical-align: super;
    font-size: 11px;
    font-weight: var(--fw-med);
    
}
.like-button .text {
    font-size: 12px;
}

/* Following */
.user-feed-container .box-7 {
    grid-row: 7/ 8;
    grid-column: 1 / 13;
    background: var(--blue);
    color: white;
    font-size: 13px;
    font-weight: var(--fw-sbold);
    padding: 13px;
}
.p-following {
    margin-bottom: 10px;
}
.fol-img img {
    padding: 0 5px;
    width: 72px;
    height: 62px;
}
.last-img,
.desktop-img,
.tablet-img {
    display: none;
}


/* Mobile Footer */
.user-feed-container .box-8 {
    grid-row: 12 /13;
    grid-column: 1 / 13;

}
@media (min-width: 495px) {
    .user-feed-container .box-7 {
        grid-template-rows: .25fr 1fr;
    }
    .following-text {
        display: grid;
        grid-row: 1/2;
        grid-column: 1/13;
    }
    
}
/* MESSAGE AT MIN-WIDTH 500PX */
@media (min-width: 500px) {
    /* user-feed img*/
    
    .mb-user-img {
        display: grid;
        margin: 25px auto;
    }
    /* title */
    .uf-name {
        font-size: 25px;
    }
    .uf-contact {
        font-size: 18px;
        
    }
    /* follow */
    .follow,
    .following {
        margin-top: 18px;
        vertical-align: middle;
    }
    .dk-follow {
        margin-top: 0;
    }
    /* bio */
    .bio-hd,
    .p-following,
    .recent-title {
        font-size: 16px;
    }
    .content {
        font-size: 15px;
        margin-bottom: 16px;
    }
    .block {
        font-size: 15px;
    }
    /* message */
    .user-feed-container .box-4 {
        padding: 0 10px;
    }
    .mb-msg {
        display: none;
    }
    .dk-msg {
        display: block;
        width: 95%;
        margin: 0 auto;
        /* padding: 5px; */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .msg-header {
        /* margin-bottom: 5px; */
        font-size: 16px;
        font-weight: var(--fw-sbold);
        color: var(--blue);
    }
    .msg-holder {
        margin: auto 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .msg-container {
        width: 80%;
    }
    .msg-input {
        width: 90%;
        height: 30px;
        padding-left: 10px;
        border: 1px solid var(--lt-blue);
        align-self: bottom;
        border-radius: 5px;
        color: var(--pk-violet);
        background: var(--auth-bg);
    }

    .btn-send {
        width: 105px;
        height: 30px;
        color: var(--blue);
        font-weight: var(--fw-sbold);
        background: var(--orange);
        border-radius: 10px;
    }
    /* followers */

    /*user feed content */
    
    .user-feed {
        display: grid; 
        grid-row: 1/2;
        grid-template-rows: 0% auto;
        grid-column: 1/13;
    }
    
    /* .content-1 {
        grid-row:1/2;
        grid-template-rows: 0fr, 1fr;
        grid-column: 1 / 13;
    } */
    .post-box {
        
        display: flex;
        flex-direction: row;
        background: none;
    }
    .post-content-box {
        width: 100%;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 0;
        
        
    }
    .post-text {
        display: grid;
        grid-row: 1/2;
        grid-column: 1/13;
        background: var(--auth-bg);
        padding: 10px;
        
        border-radius: 10px;
       

    }
    .content-2 {
        grid-row:2/3;
    }
    .content-3 {
        display: none;
        grid-row: 3/4;
    }
    
    
    .mobile-feed-img,
    .user-feed-info {
        display: none;
    }
    .mobile-feed-img-desktop {
        display: flex;
        width: 66px;
        height: 69px;
        margin: 0;
        /* grid-row: 1 / 3;
        grid-column: 1 /3; */
    }
    .user-feed-name{
        display: none;
    }
    .user-feed-name-desktop {
        margin-bottom: 10px;
        display: flex;
        grid-row: 1 / 2;
        grid-column: 3 /13;
        font-size: 16px;
        font-weight: var(--fw-sbold);
    }
    .user-feed-info-desktop {
        margin-left: 15px;
        font-weight: var(--fw-med);
    }

    .post {
        font-size: 14px;
        margin-bottom: 30px;
    }
    .text {
        font-size: 13px;
    }
}

/* TABLET VIEW */
@media (min-width: 767px) {
    .user-feed-container {
        grid-template-rows: repeat(12, 1fr);
        gap:  20px;
    }
    /* mobile header */
    .user-feed-container .box-9 {
        display: none;
    }
    /* header */
    .user-feed-container .box-1 {
        display: block;
        grid-row: 1 / 2;
        grid-column: 1 / 13;
        padding: 0 10px;
    }
    .tablet-header {
        display: block;
        width: 100%;
        display: flex;
        justify-content: space-between;
        font-size: 20px;
    }
    .dk-hd-links {
        display: none
    }
    /* profile bg */
    .user-feed-container .box-2 {
        grid-row: 2/ 5;
        grid-column: 2 / 12;  
    }
    .user-feed-container .box-11 {
        grid-column: 2 / 3;
        grid-row: 3/ 6;
        padding-top: 3px;
        padding-right: 0;
        padding-bottom: 0;
    }
    .jason-holder {
        padding-top: 5px;
    }
    .dk-user-img {
        display: block;
        width: 130px;
        height: 140px;
        margin: 30px auto;
        margin-left: 15px;
        margin-bottom: 0;
        
    }
    .mb-user-img {
        display: none;
    }

    /*Title*/
    .user-feed-container .box-3 {
        grid-row: 5/ 6;
        grid-column: 3/ 12;
        display: flex;
        flex-direction: row;
    }
    .uf-name {
        font-size: 22px;
    }
    .uf-contact {
        text-align: right;
        line-height: 0;
    }
    /* follow */
    .user-feed-container .box-12 {
        grid-row: 6 / 7;
        grid-column: 9 / 12;
        display: none;
    }
    .dk-f-btn-holder {
        display: block;
        width: 180px;
        text-align: center;
    }
    .follow,
    .btn-msg,
    .btn-send {
        vertical-align: middle;
        height: 34px;
        font-size: 15px;
        border-radius: 10px;
        background: var(--orange);
    }
    .tablet-img {
        display: grid;
    }
    
    /* message */
     .user-feed-container .box-4 {
        grid-column: 4 / 12;
        grid-row: 6 / 7;
        height: 70px;
        padding: 0 10px;
    }
    .mb-msg {
        display: none;
    }
    .dk-msg {
        display: block;
        width: 95%;
        margin: 0 auto;
        
        /* padding: 5px; */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .msg-header {
        /* margin-bottom: 5px; */
        font-size: 14px;
        font-weight: var(--fw-sbold);
        color: var(--blue);
    }
    .msg-holder {
        margin: auto 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .msg-container {
        width: 95%;
    }
    .msg-input {
        width: 90%;
        height: 34px;
        outline: 1px solid var(--lt-blue);
        align-self: bottom;
    }

    .btn-send {
        max-width: 105px;
        height: 34px;
       
        color: var(--blue);
        font-weight: var(--fw-sbold);
    }
    /* bio */
    .user-feed-container .box-5 {
        grid-row: 6/ 7;
        grid-column: 2/ 4;
    }
    .bio-hd {
        font-size: 16px;
    }
    
    .bio-stats {
        display: flex;
        flex-direction: column;
        font-size: 14px;
        padding-top: 0;
    }
    .stat-num,
    .stat-followers {
        margin: 0 auto;
    }

    /* main */
    .user-feed-container .box-6 {
        grid-column: 4/ 12;
        grid-row: 6/ 13;
        grid-template-rows: auto;
        gap: 10px;
        margin-top: 80px;
    }
    
    .content-3 {
        display: grid;
        grid-row: 3/4;
        grid-column: 1 /13;
        grid-template-columns: repeat(12, 1fr)
    }
    .content-3 .user-feed-name {
        grid-row: 1 / 2;
        grid-column: 3 / 13;
        
    }
    .user-feed-box {
        padding: 0;
    }
    
    /* .user-feed-name {
        font-size: 16px;
    } */
    .post {
        font-size: 15px;
    }
    .text {
        font-size: 13px;
    }
    /* following */
    .user-feed-container .box-7{
        grid-row: 7/ 13;
        grid-column: 2/ 4;
        
    }
    .following-text {
        height: 20px;
        font-size: 16px;
    }
    .follow-ct {
        float: right;
    }
    .fol-img {
        display: grid;
        grid-template-rows: repeat(auto-fit, minmax(76px, 1fr));
        grid-template-columns: repeat(auto-fit, minmax(66px, 1fr));
    }
    .fol-img img{
        width: 76px;
        height: 76px;
        text-align: center;
        padding: 7px;
    }
    .desktop-img {
        display: none;
    }
    .mobile-feed-img {
        margin-top: 20px;
        /* width: 75px;
        height: 81px; */
    }
    /* footer */
    .user-feed-container .box-8 {
        display: none;
    }
}

@media (min-width: 937px) {
    /* following */
    .desktop-img {
        display: block;
    }
    /* .p-following-text {
        height: 20px;
        
    } */
    .user-feed-name,
    .user-feed-info {
        font-size: 18px;
    }
    .post {
        font-size: 16px;
    }
    .expressions img {
        width: 19.5px;
        height: 20px;
    }
    .expressions .text {
        font-size: 16px;
    }
}
/* DESKTOP */
@media (min-width: 1080px) {
    /* header */
    .tablet-header {
        display: none;
    }
    .dk-hd-links {
        display: block;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    /* Jason name */
    .uf-name {
        font-size: 36px;
    }
    /* follow */
    .dk-f-btn-holder {
        width: 180px;
    }
    .follow,
    .following
    .btn-msg {
        width: 130px;
        height: 39px;
    }
    /* message */
    .msg-header {
        font-size: 18px;
        
    }
    .msg-input,
    .btn-send {
        height: 39px;
    }
    .btn-send {
        width: 110px;
    }
    
    /* bio */
    .bio-hd,
    .p-following {
        font-size: 18px;
    }
    .bio-stats {
        padding-top: 0;
    }
    /* user-feed */
    /* .recent-title,
    .content {
        font-size: 24px;  
    }
    .block {
        width: 90%;
        font-size: 20px;
    } */
    /* following */
    .desktop-img {
        display: grid;
    }

    /* user feed */
    .expressions {
        text-align: right;
    }
    
}

@media (min-width: 1220px){
    /* title */
    .last-img {
        display: grid;
    }
    
}
@media (min-width: 1370px){
    /* title */
    .uf-name {
        font-size: 48px;
    }
    
}
