/* Features Section */
:root {
    --epilogue: 'Epilogue', sans-serif;

    /* font-sizes */
    --fs-12: 12px;
    --fs-14: 14px;
    --fs-15: 15px;
    --fs-18: 18px;
    --fs-24: 24px;
    --fs-36: 36px;

    /* font-weight */
    --fw-lt: 300;
    --fw-norm: 400;
    --fw-med: 500; 
    --fw-sbold: 600;
    --fw-bold: 700;
    --fw-super-bold: 900;

    /* colors */
    --blue: #384989;
    --lt-blue: #639CC8;
    --yellow: #F8C164;
    --orange: #EE9062;
    --pk-violet: #914C75;
}
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}
html,
body {
    width: 100%;
    height: 100vh;
    font-family: var(--epilogue);  
    /* overflow-y: scroll; */
    /* background-color: black; */
}
.lp-section-two {
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    /* width: 100%;
    height: 700px; */
    color: var(--blue);
    /* background-color: black; */
    /* display: flex;
    flex-direction: row; */
    
}
.features-left{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    
}
.features-left-holder{
    margin-top: 5rem;
    margin-right: 0; 
    height: auto;
    background-image: url(images/lp-feature-triangles.svg);
    background-repeat: no-repeat;
    background-position: -30px 145px; 
    
}
.features-left-content{
    margin-left: 2rem;
}
.features-left-info {
    display: flex;
    margin-bottom: 3rem;
    margin-left: 2rem;
    font-size: 30px;
    font-weight: var(--fw-sbold);    
}
sup {
    vertical-align: super;
    height: 14px;
    font-size: 15px;
}
.features-header {
    width: 229px;
    height: 37px;
    margin-bottom: 3rem;
    margin-left: 2rem;
    line-height: 49.2px;
    font-size: 48px;
    font-weight: var(--fw-sbold);
}

.features-list {
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
}
.features-list-content {
    height: 66px;
    display: flex;
    flex-direction: row;
    margin-bottom: 1.5rem;
}
.check {
    margin: auto 0;
}
.check-mark {
    width: 33.33px;
    height: 33.33px;
}

.details {
    margin: auto 0;
    margin-left: 2rem;
    font-size: var(--fs-24);
    font-weight: var(--fw-sbold);
}
.features-button-holder {
    width: 100%;
    /* justify-content: center; */
    text-align: center;
}
.features-button {
    width: 285px;
    height: 56px;
    margin: 0 auto;
    min-width: 255px;
    min-height: 38px;
    font-size: 1.25em;
    font-weight: var(--fw-sbold);
    color: var(--blue);
    background-color: var(--orange);
    border: 2px solid var(--orange);
    box-shadow: 0px 4px 4px rgba(99, 156, 200, 0.85);
    border-radius: 8px;
}
.features-button:hover {
    opacity: 80%;
    color: var(--lt-blue);
    font-weight: var(--fw-bold);
}
.features-right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.features-right-holder {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 5rem 0;
    margin-right: 2.84rem;
}
.amico {
    width: 100%;
    height: auto;
    margin-top: 205.6;
    min-width: 344.33px;
    min-height: 260.2px;
}

/* Footer */
.lp-footer {
    width: 100%;
    height: 150px;
    left:0;
    bottom:0;
    display: flex;
    flex-direction: column;
    font-size: 10px;
    text-align: center;
    
}
.footer-body {
    width: 600px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    margin: 0 auto;
    color: white;
}
.footer-content {
    width: 150px;
}
.map-content,
.about-content {
    display: flex;
    flex-direction: row;
    align-content: flex-start;

}
.sitemap,
.about-us {
    width: 100%;
    height: 20px;
    text-align: center;
    font-size: 12px;
}
.info {
    width: 100px;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 15px;
}
.terms,
.privacy {
    text-align: left;
}
.footer-links{
    width: 100px;
    margin: 0 auto;
    text-align: center;
}
.footer-links-content {
    margin: 0 auto;
    text-align: center;
}
.footer-logo{
    margin-bottom: .5rem;
}
.footer-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

@media screen and (max-width: 1400px) {
    /* .features-left{
        background-size: auto;
        background-size: 100%; 
    } */
    .features-left-holder{
        background-position: auto;
        background-size: 90%; 
    }
    .features-left-content{
        margin-left: 2rem;
    }
    .features-left-info {
        font-size: 1.8em;
        font-weight: var(--fw-sbold);    
    }
    sup {
        height: 12px;
        font-size: 13px;
    }
    .features-header {
        margin-bottom: 1em;
        font-size: 2.7em;
    }
    
    
    .features-list {
        margin-left: 2rem;
        display: flex;
        flex-direction: column;
    }
    .features-list-content {
        height: 56px;
        /* display: flex;
        flex-direction: row; */
        margin-bottom: 1em;
    }
    /* .check {
        margin: auto 0;
    }
    .check-mark {
        width: 33.33px;
        height: 33.33px;
    } */
    
    .details {
        font-size: 1.21em;
    }
    .features-button-holder {
        width: 90%;
        text-align: center;
    }
    .features-button {
        width: 40%;
        min-width: 243px;
        height: 53px;
        min-height: 38px;
        margin: 0 auto;
        font-size: 1.15em;
    }
    .amico {
        min-width: 344.33px;
        min-height: 260.2px;
    }
    
}
@media  screen and (max-width: 1250px) {
    .features-left-holder{
        background-position: 100px auto;
    }
    /* .features-left-content{
        margin-left: 2rem;
    } */
    .features-left-info {
        font-size: 1.6em;
        font-weight: var(--fw-sbold);    
    }
    sup {
        height: 12px;
        font-size: 13px;
    }
    .features-header {
        margin-bottom: 1em;
        font-size: 2.5em;
    }
    .features-button {
        width: 40%;
        height: 50px;
        margin: 0 auto;
        font-size: 1.15em;   
    }
    
}