/* LOGIN STYLES */

:root {
    --epilogue: 'Epilogue', sans-serif;

    /* font-sizes */
    --fs-12: 12px;
    --fs-14: 14px;
    --fs-15: 15px;
    --fs-18: 18px;
    --fs-24: 24px;
    --fs-36: 36px;

    /* font-weight */
    --fw-lt: 300;
    --fw-norm: 400;
    --fw-med: 500; 
    --fw-sbold: 600;
    --fw-bold: 700;
    --fw-super-bold: 900;

    /* colors */
    --blue: #384989;
    --lt-blue: #639CC8;
    --yellow: #F8C164;
    --orange: #EE9062;
    --pk-violet: #914C75;
    --auth-bg: #E5E5E5;
    --fs-input-bg: #C5C5C5;
}
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}
html,
body {
    width: 100%;
    height: 100%;
    font-family: var(--epilogue);  
    overflow-y: hidden;
}
body {
    background:  linear-gradient(180deg, var(--orange) 41.67%, var(--blue) 100%); 
    /* -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
}
.bg-holder {
    margin: 0 auto;
    width: 1400px;
    height: 1400px;
    /* top: 0;
    left: 0%;
    transform: translate(-10%, -20%); */

}
.bg-img{
    /* display: none; */
    
    /* position: fixed; */
    /* display: flex;
    width: auto; */
    width: 100%;
    height: 100vh;
    background-image: url("images/fg-triangles.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    /* transform: rotate(45deg) */

}

.forgot-window{
    
    position: fixed;
    max-width:550px;
    height: auto;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
}
/* .forgot-window {
    display: none;
} */
.fg-form{
    max-width: 450px;
    height: 90%; 
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    /* color: white; */
    padding: 2rem auto;
    /* border: 2px solid green; */

}
.forgot-form-title,
.forgot-form-text{
    width: 100%;
    height: 50px;
    margin-bottom: 3rem;
}
.forgot-form-text{
    margin-bottom: 4.5rem;
}

.fg-title{
    font-size: 36px;
    font-weight: var(--fw-sbold);
}
.fg-text{
    font-size: 24px;
    font-weight: var(--fw-med);
    /* margin-bottom: 3.3rem; */
}
.fg-form-container {
    display: flex;
    width: 100%;
    max-width: 450px;
    height: auto;
    margin: 0 auto;
    padding: 1rem auto;
    align-items: center;  
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}
.fg-label{
    width: 100%;
    max-width: 450px;
    min-width: 241px;
    text-align: left;
    margin: .75rem auto;
    margin-bottom: 0;
    padding-left: 2px;
    color: var(--blue);
    font-size: 12px;
    font-weight: var(--fw-med);
    line-height: 12.3px;
}
.fg-input-icon {
    width: 37px;
    height: 34px;
    /* margin-bottom: 1rem; */
    padding: 8px;
    text-align: center;
    background: var(--input-bg);
    border: none;
    border-radius: 5px 0 0 5px;
}
.fg-input {
    width: 100%;
    max-width: 411px;
    min-width: 213px;
    height: 34px;
    /* margin-bottom: 1rem; */
    outline: none;
    border: 2px solid var(--very-lt-gray);
    border-radius: 0  5px 5px 0; 
    padding-left: 10px;
    background: var(--input-bg);
    
}
.fg-submit {
    width: 243px;
    max-width: 243px;
    height: 38px;
    margin: 2.5rem auto;
    margin-bottom: .3rem;
    font-size: 15px;
    font-weight: var(--fw-sbold);
    color: var(--blue);
    background: var(--orange);
    border: none;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(99, 156, 200, 0.85)
}
.fg-icon-holder {
    width: 100%;
    height: auto;
    margin-bottom: 0;
    text-align: center;
}
.fg-icon-btn {
    border: none;
    background: transparent;
    margin: 2rem auto;
}
@media screen and (max-width: 850px) {
    .bg-holder {
        margin: 0 auto;
        width:700x;
        height: auto;
        /* top: 0;
        left: 0%;
        transform: translate(-10%, -20%); */
    
    }
    .bg-img{
        /* display: none; */
        /* width: 1279px;
        position: fixed; */
        /* display: flex;
        width: auto; */
        /* width: 100%;
        height: 100vh; */
        background-image: url("images/lg-triangles.svg");
        background-size: 800px;
        background-repeat: no-repeat;
        background-position: 20px -70px;
        background-attachment: fixed;
        /* transform: rotate(-35deg) */
    
    }
    
    .fg-title {
        font-size: 30px;
    }
    .fg-text {
        font-size: 18px;
    }
}
@media screen and (max-width: 600px) {
    /* .bg-img {
        width: 100%;
        display: flex;
        background-size: cover;
    } */
    .fg-title {
        font-size: 24px;
    }
    .fg-text {
        font-size: 14px;
    }
}