{% extends 'message/layout.html' %} {% load crispy_forms_tags %} {% block content %}
<div class="container">
    <div class="row">
      <div class="col-md-12 p-5">
        <h3>Your Messages</h3>
    </div>
    <div class="row">
      <div class="col-md-12 p-5">
        <form method="GET" action="{% url create-message-thread %}">
            <button class="btn btn-light p-3" type="submit">Start Message</button>
        </form>
      </div>
    </div>
    {% for message_threads in threads.all %}

    <div class="row mb-3">
        <div class="card col-md-12 p-5 shadow-sm">
          <h5>{{ thread.receiver }}</h5>
          <a class="stretched-link" href="{% url 'thread' thread.pk %}"></a>
        </div>
      </div>
      {% endfor %}
    </div>
    {% endblock content %}
  
  