{% extends 'authentication/header.html' %} {% load static %} {% load crispy_forms_tags %} {% block content %} 
    
<div class="content">
  <div class="content">
    <div class="col-md-8">
      {% for post in posts %}
      <div class="card card-signin my-5">

        <div class="card-body">
          <a
            class="text-dark"
            href="{% url 'authentication:profile_view' post.user_id.username %}" ><b>{{ post.user_id.username }}</b></a
          >
          <br /><small class="text-muted"
            >Posted on {{ post.created_at }}</small
          >
          <p class="card-text text-dark">{{ post.content }}</p>
        </div>
        {% if post.image %}
        <img src="{{post.image.url}}" alt="" width=150px height=150px>
        <br>
        {% else %}
        {% endif %}
        <a href="{% url 'posts:view-post' post.id %}"> View</a>
        
        {% if post.category %}
        <br />
        <p class="text-danger ml-3">
          <b>Category: <i>{{ post.category }}</i></b>
        </p>
        {% endif %}
        <div class="card-footer">

            {% if post in liked_post %}
             <a class="btn btn-white mr-3 like" id="{{ post.id }}" href="{% url 'posts:post-like' post.id %}">
              Unlike
                 </a>
                  {% else %}

           <a class="btn btn-white mr-3 like" id="{{ post.id }}" href="{% url 'posts:post-like' post.id %}">
              Like
                 </a>
            {% endif %}
           <span> &nbsp; | {{post.likes.count}} &nbsp;</span>
          <a class="btn btn-outline-info" href="{% url 'posts:comment' post.id %}"
            >Comments  {{ post.details.count }}</a>
            <br /><br />
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock content %}
{% block jsfiles %}
<script type="text/javascript">
const likeButtons = document.querySelectorAll('.like')
const base_url = `${document.location.href}like`

likeButtons.forEach((likeButton) => {
    likeButton.addEventListener('click', (e) => {
        const id = e.target.id
        e.preventDefault()
        fetch(`${base_url}/${id}`)
          .then(response => response.json())
          .then(data => console.log(data));
          if (e.target.innerText == 'Like') {
            e.target.innerText = 'Unlike'
          } else {
            e.target.innerText = 'Like'
          }
        location.reload();
    })
})
</script>
{% endblock jsfiles %}