<html>
  <head>
    <title>SMA App</title>
  </head>

  <body>
      <a class="navbar-brand ml-4 mr-4"><b>SMA App</b></a>

      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="{% url 'posts:home' %}">Home</a>
          {% if user.is_authenticated %}
            <a class="nav-item nav-link" href="{% url 'posts:my-profile' %}">My Profile</a>
          <a class="nav-item nav-link" href="{% url 'posts:create-post' %}">Create Post</a>
          <a class="nav-item nav-link" href="{% url 'authentication:logout' %}">Logout</a>
          {% endif %}
        </div>
      </div>
  {% block content %}
  {% endblock %}
   </body>
</html>
