{% extends "posts/layout.html" %} {% load static %} {% load crispy_forms_tags %}
{% block content %}
<div class="container" xmlns="http://www.w3.org/1999/html">
  <h4>Comments</h4>
  <div class="row">
    <div class="col-md-8">
      <div class="card card-signin my-5">
        <div class="card-body">
          <form class="form-signin" method="POST" id="post-form">
            {% csrf_token %}
            <fieldset class="form-group">
              <br />
              {{ form|crispy }}
            </fieldset>
            <div class="form-group">
              <button
                class="btn btn-lg btn-primary btn-block text-uppercase"
                type="submit"
              >
                Comment</button
              ><br />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      {% if post.details.all %}
      <div class="card card-signin my-5">
        {% for detail in post.details.all %}
        <div class="card-body">

          <a
            class="text-dark"><b>{{ detail.user_id }}</b></a>

          <p class="card-text text-dark">{{ detail.content }}</p>
          <br /><small>{{ post.created_at }}</small><br /><br />
          <form method="POST" action="{% url 'posts:delete-comment' detail.id %}">
             {% csrf_token %}

              <input type="submit" value="Delete Comment" />
          </form>

        </div>
        <hr class="my-1" />
        {% endfor %}
      </div>
      {% else %}
      <p>No comments to show!</p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock content %}