{% extends 'authentication/header.html' %}{% load static %} {% block content %}
<link rel="stylesheet" href="{% static 'css/layout.css' %}">
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div>
        <h3>My Posts
      </div>
      <br>
      {% for post in posts %}
      <div class="card card-signin my-5">
        <div class="card-body">
          <a class="text-dark" >
            {{ post.user_id.username }}</a>
          <br /><small class="text-muted">Posted on {{ post.created_at }}</small>
          <p class="card-text text-dark">{{ post.content }}</p>
        </div>
        {% if post.image %}
        <img src="{{post.image.url}}" alt="" width="150px" height="150px" />
        <br />
        {% else %} {% endif %}

        {% if post.category %}
        <p class="category text-danger ml-3">
          <small>Category: <i>{{ post.category }}</i></small>
        </p>
        {% endif %}
        <div class="card-footer">
          <div class="likes">
            {% if post in liked_post %}
            <a class="btn btn-white mr-3 unlike liker" onclick="liker(event)" href="javascript:void(0);">
              <i class="las la-heart" id="{{ post.id }}"></i>
            </a>
            {% else %}

            <a class="btn btn-white mr-3 like liker" onclick="liker(event)" href="javascript:void(0);">
              <i class="lar la-heart" id="{{ post.id }}"></i>
            </a>
            {% endif %}
            <span class="likes_count" id="post_{{ post.id }}">{{post.likes.count}}</span>
          </div>

          <a class="btn btn-outline-info" href="{% url 'posts:comment' post.id %}">Comments {{ post.details.count }}</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
</div>

{% endblock content %}